.comment {
  gap: 1rem;
  display: flex;
  margin-top: 1rem;
}

.commentBox {
  flex: 1;
}

.commentContent {
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--gray-700);
}

.commentContent p {
  margin-top: 1rem;
  color: var(--gray-300);
}

.commentHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.commentHeader button {
  border: 0;
  cursor: pointer;
  color: var(--gray-400);
  background: transparent;

  line-height: 0;
  border-radius: 2px;
  transition: color 0.1s;
}

.commentHeader button:hover {
  color: var(--red-500);
}

.commentAuthor {
  display: flex;
  flex-direction: column;
}

.commentAuthor strong {
  line-height: 1.6;
  font-size: 0.875rem;
  color: var(--gray-400);
}

.commentAuthor time {
  line-height: 1.6;
  font-size: 0.75rem;
  color: var(--gray-400);
}

.commentFooter {
  margin-top: 1rem;
}

.commentFooter button {
  border: 0;
  cursor: pointer;
  color: var(--gray-400);
  background-color: transparent;

  display: flex;
  align-items: center;
}

.commentFooter button svg {
  margin-right: 0.5rem;
}

.commentFooter button:hover {
  color: var(--green-300);
}

.commentFooter span::before {
  content: "\2022";
  padding: 0 0.5rem;
}
