.content {
  line-height: 1.6;
  margin-top: 1.5rem;
  color: var(--gray-300);
}

.content p {
  margin-top: 1rem;
}

.content a {
  font-weight: bold;
  text-decoration: none;
  color: var(--green-500);
}

.content a:hover {
  color: var(--green-300);
}

.tagsWrapper {
  gap: 0.5rem;
  display: flex;
}
